<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
</head>
<body>
            <header id="header">
				<h1>Online Bookstore</h1>
				<p>Welcome, please sign in.</p>
			</header>


                <!--Login Form-->
                <form action='login' method='POST'>
                    <input type='text' name='username' id='username' placeholder='username'></input>
                    <input type='password' name="password" id='password' placeholder='password'></input>
                    <input type='submit' name='submit'></input>
                </form>

                <!--&lt;!&ndash;Sign Up Button&ndash;&gt;-->
                <!--<form action="signup">-->
                    <!--<input type="submit" value="Go to Google" />-->
                <!--</form>-->

            <button type="button"><a href="signup">Sign Up</a></button>


            <p>Admin username: admin  password: adminpass</p>
            <p>Zhang Hao username: zhanghao password: password</p>
</body>
</html>