<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Access Denied</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="/static/main.css" />
</head>
<body>
<div id="wrapper">
    <header>
        <div class="inner">
            <!-- Logo -->
			<a href="/" class="logo">
				<span class="symbol"><img src="/static/images/logo.svg" alt="" /></span><span class="title">Online Bookstore</span>
			</a>
        </div>
    </header>
    <div id="main">
        <div class="inner">
            <header>
                <h1>Access Denied! Only store manager can access this.</h1>
            </header>
            <section class="tiles">
                <article class="style1">
                    <span class="image">
                        <img src="/static/images/pic01.jpg" alt="" />
                    </span>
                    <a href="/">
                        <h2>Home</h2>
                        <div class="content">
                            <p>Go back to home page.</p>
                        </div>
                    </a>
                </article>
            </section>
        </div>
    </div>
</div>

		<!-- Scripts -->
			<script src="/static/assets/js/jquery.min.js"></script>
			<script src="/static/assets/js/skel.min.js"></script>
			<script src="/static/assets/js/util.js"></script>
			<script src="/static/assets/js/main.js"></script>
</body>
</html>