<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>User Account</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="/static/main.css" />
</head>
<body>
<div id="wrapper">
    <header id="header">
						<div class="inner">

							<!-- Logo -->
								<a href="/" class="logo">
									<span class="symbol"><img src="/static/images/logo.svg" alt="" /></span><span class="title">Online Bookstore</span>
								</a>

							<!-- Nav -->
								<nav>
									<ul>
										<li><a href="#menu">Menu</a></li>
									</ul>
								</nav>

						</div>
					</header>
	<!-- Menu -->
					<nav id="menu">
						<h2>Menu</h2>
						<ul>
							<li><a href="/">Home</a></li>
							<li><a href="/account/profile">Account profile</a></li>
							<li><a href="/account/order">Order</a></li>

						</ul>
					</nav>
    				<!-- Main -->
					<div id="main">
						<div class="inner">
							<h1>My Profile</h1>
							<p>{{account_info_table}}</p>

						</div>
					</div>
</div>

</body>
</html>