<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>User Info</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" type=text/css href="/static/main.css" />
</head>
<body>
<div id="wrapper">
    <!-- Header -->
    <header id="header">
			<div class="inner">
				<!-- Logo -->
				<a href="/" class="logo">
				<span class="symbol"><img src="/static/images/logo.svg" alt="" /></span><span class="title">Online Bookstore</span>
				</a>
				</div>
        </header>
             <div id="main">
                            <div class="inner">
                                <header>
                                    <h2>User profile</h2>
                                </header>
                                <section class="tiles">
                                    <article class="style1">
									<span class="image">
										<img src="/static/images/pic01.jpg" alt="" />
									</span>
									<a href="/account/profile">
										<h2>My Profile</h2>
										<div class="content">
											<p>View   your   account   information.</p>
										</div>
									</a>
								</article>
                                    <article class="style2">
									<span class="image">
										<img src="static/images/pic02.jpg" alt="" />
									</span>
									<a href="/account/order">
										<h2>Orders</h2>
										<div class="content">
											<p>View   your   order   list.</p>
										</div>
									</a>
								</article>
								<article class="style3">
									<span class="image">
										<img src="static/images/pic03.jpg" alt="" />
									</span>
									<a href="/account/cart">
										<h2>Shopping Cart</h2>
										<div class="content">
											<p>View  your shopping cart</p>
										</div>
									</a>
								</article>


									<article class="style4">
									<span class="image">
										<img src="static/images/pic04.jpg" alt="" />
									</span>
									<a href="/account/reviews">
										<h2>Reviews</h2>
										<div class="content">
											<p>View all of my reviews</p>
										</div>
									</a>
								</article>


									<article class="style5">
									<span class="image">
										<img src="static/images/pic05.jpg" alt="" />
									</span>
									<a href="/account/comment">
										<h2>Feedbacks</h2>
										<div class="content">
											<p>View all of my feedbacks</p>
										</div>
									</a>
								</article>
                                </section>
                            </div>
                        </div>
</div>

</body>
</html>