<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>New books</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="/static/main.css" />
</head>
<body>
<div id="wrapper">
    <header id="header">
        <div class="inner">

							<!-- Logo -->
								<a href="/" class="logo">
									<span class="symbol"><img src="/static/images/logo.svg" alt="" /></span><span class="title">Online Bookstore</span>
								</a>

							<!-- Nav -->
								<nav>
									<ul>
										<li><a href="#menu">Menu</a></li>
									</ul>
								</nav>

						</div>
    </header>
<!-- Footer -->
					<footer id="footer">
						<div class="inner">
							<section>
								<h2>Add in new books</h2>
								<form method="post" action="#">
									<div class="field half first">
										 <input type='text' name='ISBN' id='ISBN' placeholder='ISBN'/>
									</div>
									<div class="field half">
										<input type='text' name="title" id='title' placeholder='Title'/>
									</div>
                                    <div class="field half first">
										 <input type='text' name="author" id='author' placeholder="Author"/>
									</div>
									<div class="field half">
										<input type='text' name="publisher" id='publisher' placeholder="Publisher"/>
									</div>
                                    <div class="field half first">
										 <input type='text' name="year" id='year' placeholder="Year"/>
									</div>
									<div class="field half">
										<input type='number' name="copy" id='copy' placeholder="Copy"/>
									</div>
                                    <div class="field half first">
										 <input type='text' name="format" id='format' placeholder="Format">
									</div>
									<div class="field half">
										<input type='text' name="subject" id='subject' placeholder="Subject">
									</div>
                                    <div class="field half first">
										 <input type='text' name="keywords" id='keywords' placeholder="Keywords">
									</div>
									<ul class="actions">
										<li><input type="submit" value="Add" class="special" /></li>
									</ul>
								</form>
							</section>

						</div>
					</footer>
</div>

</body>
</html>