<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Inventory List</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="/static/main.css" />
</head>
<body>
<div id="wrapper">
    <header id="header">
        <div class="inner">
            <!-- Logo -->
            <a href="/" class="logo">
                <span class="symbol"><img src="/static/images/logo.svg" alt="" /></span><span class="title">Online Bookstore</span>
            </a>
            <!-- Nav -->
            <nav>
                <ul>
                    <li><a href="#menu">Menu</a></li>
                </ul>
            </nav>

        </div>
    </header>
    <!-- Main -->
    <div id="main">
        <div class="inner">
            <h1>Inventory</h1>
            <p>{{inventory_info_table}}</p>

            <h1>Add in new books</h1>

            <form method="POST" action="inventory">
                <div class="field half first">
                    <input type='text' name='ISBN' id='ISBN' placeholder='ISBN'/>
                </div>
                <div class="field half">
                    <input type='text' name="title" id='title' placeholder='Title'/>
                </div>
                <div class="field half first">
                    <input type='text' name="author" id='author' placeholder="Author"/>
                </div>
                <div class="field half">
                    <input type='text' name="publisher" id='publisher' placeholder="Publisher"/>
                </div>
                <div class="field half first">
                    <input type='text' name="year" id='year' placeholder="Year"/>
                </div>
                <div class="field half">
                    <input type='number' name="copy" id='copy' placeholder="Copy"/>
                </div>
                <div class="field half first">
                    <input type='number' name="price" id='price' placeholder="Price">
                </div>
                <div class="field half">
                    <input type='text' name="format" id='format' placeholder="Format">
                </div>
                <div class="field half first">
                    <input type='text' name="subject" id='subject' placeholder="Subject">
                </div>
                <div class="field half">
                    <input type='text' name="keywords" id='keywords' placeholder="Keywords">
                </div>
                <ul class="actions">
                    <input type="submit" value="Add" class="special" />
                </ul>

            </form>
        </div>
    </div>
</div>



</body>
</html>