<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Book Detail {{title}}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" type=text/css href="/static/main.css" />
</head>
<body>
<div id="wrapper">
<header id="header">
        <div class="inner">
			<!-- Logo -->
			<a href="/" class="logo">
				<span class="symbol"><img src="/static/images/logo.svg" alt="" /></span><span class="title">Online Bookstore</span>
			</a>
		</div>
    </header>
    <div id="main">
        <div class="inner">
            <header>
                <h1>Book Detail</h1>
                <h2>{{title}} by {{author}}</h2>
            </header>
            <p>{{info_table}}</p>
        </div>
    </div>



    <div id="main2">
        <div class="inner">
             <h2>Add to Cart</h2>
        <form action='addtocart' method='POST'>
            <div class="field half first">
                Qty   :
                <input type="hidden" name="ISBN" value="{{ISBN}}">
                <input type='number' name='copy' id='copy' placeholder= 'Number of Copy'/>
                </div>
            <div class="field half">
                <input type='submit' name='submit' value="Add To Cart"/>
            </div>
        </form>

            <h2>User Reviews</h2>
            <form action='/review_detail' method='POST'>
                <div class="field half first">
                    Show top
                    <input type="hidden" name="ISBN" value="{{ISBN}}"/>
                    <input type="number" name="number" id='number' placeholder="positive integer"/>
                    most useful reviews
                </div>
                <div class="field half">
                    <input type='submit' name='submit' value="Get Review"/>
                </div>
        </form>

            <h2>My review on {{title}}</h2>
            <section>
            <form action='/review' method='POST'>
                <div>
                    Review:
                </div>
                <div>
                    <input type="hidden" name="ISBN" value="{{ISBN}}"/>
                    score:
                    <select name="score" id="score">
                        <option value="10">10</option>
                        <option value="9">9</option>
                        <option value="8">8</option>
                        <option value="7">7</option>
                        <option value="6">6</option>
                        <option value="5">5</option>
                        <option value="4">4</option>
                        <option value="3">3</option>
                        <option value="2">2</option>
                        <option value="1">1</option>
                    </select>
                </div>
                <!--<input type="number" name="score" id='score' placeholder="My Review Score"/>-->
                <div>
                    <input type='text' name='review' id='review' placeholder= 'Anything you want to say about the book'/>
                </div>
                <div class="field half first">
                    
                    <input type='submit' name='submit' value="Post Review"/>
                </div>
        </form>
            </section>
        </div>
    </div>


</div>
		<!-- Scripts -->
			<script src="/static/assets/js/jquery.min.js"></script>
			<script src="/static/assets/js/skel.min.js"></script>
			<script src="/static/assets/js/util.js"></script>
			<script src="/static/assets/js/main.js"></script>
</body>
</html>