<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Book Detail {{title}}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" type=text/css href="/static/main.css" />
</head>
<body>
<div id="wrapper">
<header id="header">
        <div class="inner">
			<!-- Logo -->
			<a href="/" class="logo">
				<span class="symbol"><img src="/static/images/logo.svg" alt="" /></span><span class="title">Online Bookstore</span>
			</a>
		</div>
    </header>
    <div id="main">
        <div class="inner">
            <header>
                <h1>Book Detail</h1>
                <h2>{{title}} by {{author}}</h2>
            </header>
            <p>{{info_table}}</p>
        </div>
    </div>



    <div id="main2">
        <div class="inner">
        <form action='addtocart' method='POST'>
            <div class="field half">
                Qty   :
                <input type="hidden" name="ISBN" value="{{ISBN}}">
                <input type='number' name='copy' id='copy' placeholder= 'Number of Copy'/>
                <input type='submit' name='submit' value="Add To Cart"/>
            </div>
        </form>
        </div>
    </div>
    <h2>Reviews by user</h2>
        {{review_info_table}}




        <form action='/review' method='POST'>
                Review:
                <input type="hidden" name="ISBN" value="{{ISBN}}"/>
                <input type="number" name="score" id='score' placeholder="My Review Score"/>
                <input type='text' name='review' id='review' placeholder= 'Anything you want to say about the book'/>

                <input type='submit' name='submit' value="Post Review"/>
        </form>

</div>
		<!-- Scripts -->
			<script src="/static/assets/js/jquery.min.js"></script>
			<script src="/static/assets/js/skel.min.js"></script>
			<script src="/static/assets/js/util.js"></script>
			<script src="/static/assets/js/main.js"></script>
</body>
</html>