<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Book Detail {{title}}</title>
</head>
<body>

        <h1>Book Detail</h1>
        <h2>{{title}} by {{author}}</h2>

        {{info_table}}


        <!--<input type="submit" name="submit" value="Add To Cart">-->
        <!--<input type="submit" name="submit" value="Do Something Else">-->

        <form action='addtocart' method='POST'>
            <p> Qty :
                <input type='number' name='copy' id='copy' placeholder= 'Number of Copy'>
                <input type="hidden" name="haha" value="{{ISBN}}">
                <input type='submit' name='submit' value="Add To Cart">
            </p>


        </form>

        <!--<input type="button" value="Sign up" onclick="location.href='/AddToCart?ISBN={{ISBN}}'">-->


</body>
</html>