<!DOCTYPE HTML>

<html>
	<head>
		<title>Intelligent Dictionary</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<!--[if lte IE 8]><script src="static/assets/js/ie/html5shiv.js"></script><![endif]-->
		<link rel="stylesheet" href="static/assets/css/main.css" />
		<!--[if lte IE 8]><link rel="stylesheet" href="static/assets/css/ie8.css" /><![endif]-->
		<!--[if lte IE 9]><link rel="stylesheet" href="static/assets/css/ie9.css" /><![endif]-->
	</head>
	<body>

		<!-- Header -->
			<header id="header">
				<h1>Intelligent Dictionary</h1>
				<p>The smartest dictionary in the world.<br />
				Brought to you by <a href="https://www.facebook.com/iamzhanghao">Zhang Hao</a>.</p>
			</header>

		<!-- Signup Form -->
			<form id="signup-form" method="post" action="lookup">
				<input type="text" name="entry" placeholder="Type Your Word"><br>
				<input type="submit" value="Look Up" />
			</form>

		<iframe width="400" height="225"
				src="https://www.youtube.com/embed/GDfYPVgRZQA?autoplay=1">

		</iframe>



		<!-- Footer -->
			<footer id="footer">
				<ul class="icons">
					<li><a href="#" class="icon fa-twitter"><span class="label">Twitter</span></a></li>
					<li><a href="#" class="icon fa-instagram"><span class="label">Instagram</span></a></li>
					<li><a href="#" class="icon fa-github"><span class="label">GitHub</span></a></li>
					<li><a href="#" class="icon fa-envelope-o"><span class="label">Email</span></a></li>
				</ul>
				<ul class="copyright">
					<li>&copy; Untitled.</li><li>Credits: <a href="http://html5up.net">HTML5 UP</a></li>
				</ul>
			</footer>

		<!-- Scripts -->
			<!--[if lte IE 8]><script src="static/assets/js/ie/respond.min.js"></script><![endif]-->
			<script src="static/assets/js/main.js"></script>

	</body>
</html>