<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>User Info</title>
</head>
<body>


        <h1>User Profile</h1>
        <h2></h2>
        <h2>My Account Information</h2>
        <!--Account Information Table-->
        {{account_info_table}}
        <!--<table>-->
            <!--<thead><tr><th>Name</th><th>Description</th></tr></thead>-->
            <!--<tbody>-->
            <!--<tr><td>Name1</td><td>Description1</td></tr>-->
            <!--<tr><td>Name2</td><td>Description2</td></tr>-->
            <!--<tr><td>Name3</td><td>Description3</td></tr>-->
            <!--</tbody>-->
        <!--</table>-->
        <h2></h2>
        <h2>My Orders</h2>
        {{order_info_table}}
        <h2></h2>
        <h2>My Feedbacks</h2>

        <h2></h2>
        <h2>Feedbacks Reviewd</h2>




</body>
</html>