<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Search Book</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" type=text/css href="/static/main.css" />
</head>
<body>
<div id="wrapper">
    <!-- Header -->
    <header id="header">
			<div class="inner">
				<!-- Logo -->
				<a href="/" class="logo">
				<span class="symbol"><img src="/static/images/logo.svg" alt="" /></span><span class="title">Online Bookstore</span>
				</a>
				</div>
    </header>
    <div id="main">
        <div class="inner">
            <header>
                <h1>Your Search Result</h1>
            </header>
            <p>{{book_info_table}}</p>
        </div>
    </div>
</div>
<!-- Scripts -->
			<script src="/static/assets/js/jquery.min.js"></script>
			<script src="/static/assets/js/skel.min.js"></script>
			<script src="/static/assets/js/util.js"></script>
			<script src="/static/assets/js/main.js"></script>
</body>
</html>